In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By

# By.TAG_NAME
# By.ID: To find elements by their ID.
# By.NAME: To find elements by their name attribute.
# By.XPATH: To find elements using an XPath expression.
# By.CSS_SELECTOR: To find elements using a CSS selector.
# By.CLASS_NAME: To find elements by their class name.
# By.LINK_TEXT: To find links by their text.

In [2]:
# Set up Chrome options
chrome_options = Options()
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

# Connect to Selenium Chrome running in another container
driver = webdriver.Remote(
    command_executor='http://selenium-chrome:4444/wd/hub',
    options=chrome_options
)

In [3]:
# find search box and enter search query
driver.get('https://www.google.com/')

In [4]:
search_box = driver.find_element(By.NAME, 'q')

In [5]:
# enter search query
search_box.send_keys('selenium python')

In [6]:
search_box.submit()

In [7]:
driver.get("https://en.wikipedia.org/wiki/44th_Chess_Olympiad")

In [8]:
link_element = driver.find_element(By.LINK_TEXT, "Chennai")
link_element.text

'Chennai'

In [9]:
link_element.location

{'x': 836, 'y': 875}

In [10]:
link_element.click()

In [11]:
driver.back()

In [12]:
# find all tables on the page
tables = driver.find_elements(By.TAG_NAME, "table")
len(tables)

11

In [13]:
table_html = tables[6].get_attribute('outerHTML')

In [14]:
from io import StringIO
import pandas as pd
table_df = pd.read_html(StringIO(table_html))[0]

In [15]:
table_df

,#,Country,Players,Average rating,MP,dSB‡
0,NaN,Ukraine,"M. Muzychuk, A. Muzychuk, Ushenina, Buksa, Osmak",2478,18,413.5
1,NaN,Georgia,"Dzagnidze, Batsiashvili, Javakhishvili, Melia,...",2475,18,392.0
2,NaN,India,"Humpy, Harika, Vaishali, Sachdev, Kulkarni",2486,17,396.5
3,4.0,United States,"Tokhirjonova, Krush, Yip, Zatonskih, Abrahamyan",2390,17,390.0
4,5.0,Kazakhstan,"Abdumalik, Assaubayeva, Balabayeva, Nakhbayeva...",2365,17,352.0
5,6.0,Poland,"Kashlinskaya, Soćko, Kiołbasa, Malicka, Rudzińska",2423,16,396.0
6,7.0,Azerbaijan,"Mammadzada, Mammadova, Beydullayeva, Balajayev...",2399,16,389.0
7,8.0,India-2,"Agrawal, Rout, Soumya, Gomes, Deshmukh",2351,16,369.5
8,9.0,Bulgaria,"Salimova, Peycheva, Krasteva, Antova, Radeva",2319,16,361.0
9,10.0,Germany,"Pähtz, Heinemann, Klek, Wagner, Schneider",2383,16,344.5

In [16]:
# get all html on the page
html = driver.page_source

In [ ]:
#html

In [ ]:
driver.quit()